<div id="cart" class="btn-group btn-block" style="display:none;">
  <button type="button" data-toggle="dropdown" data-loading-text="{{ text_loading }}" class="btn btn-inverse btn-block btn-lg dropdown-toggle"><i class="fa fa-shopping-cart"></i> <span id="cart-total">{{ text_items }}</span></button>
  <ul class="dropdown-menu pull-right">
    {% if products or vouchers %}
    <li>
      <table class="table table-striped">
        {% for product in products %}
        <tr>
          <td class="text-center">{% if product.thumb %} <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail" /></a> {% endif %}</td>
          <td class="text-left"><a href="{{ product.href }}">{{ product.name }}</a> {% if product.option %}
            {% for option in product.option %} <br />
            - <small>{{ option.name }} {{ option.value }}</small> {% endfor %}
            {% endif %}
            {% if product.recurring %} <br />
            - <small>{{ text_recurring }} {{ product.recurring }}</small> {% endif %}</td>
          <td class="text-right">x {{ product.quantity }}</td>
          <td class="text-right">{{ product.total }}</td>
          <td class="text-center"><button type="button" onclick="cart.remove('{{ product.cart_id }}');" title="{{ button_remove }}" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></td>
        </tr>
        {% endfor %}
        {% for voucher in vouchers %}
        <tr>
          <td class="text-center"></td>
          <td class="text-left">{{ voucher.description }}</td>
          <td class="text-right">x&nbsp;1</td>
          <td class="text-right">{{ voucher.amount }}</td>
          <td class="text-center text-danger"><button type="button" onclick="voucher.remove('{{ voucher.key }}');" title="{{ button_remove }}" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></td>
        </tr>
        {% endfor %}
      </table>
    </li>
    <li>
      <div>
        <table class="table table-bordered">
          {% for total in totals %}
          <tr>
            <td class="text-right"><strong>{{ total.title }}</strong></td>
            <td class="text-right">{{ total.text }}</td>
          </tr>
          {% endfor %}
        </table>
        <p class="text-right"><a href="{{ cart }}"><strong><i class="fa fa-shopping-cart">i></ {{ text_cart }}</strong></a>&nbsp;&nbsp;&nbsp;<a href="{{ checkout }}"><strong><i class="fa fa-share"></i> {{ text_checkout }}</strong></a></p>
      </div>
    </li>
    {% else %}
    <li>
      <p class="text-center">{{ text_empty }}</p>
    </li>
    {% endif %}
  </ul>
</div>


  <div class="header-item header-element">
              <button class="header-element-item search-button" type="button" data-toggle="collapse"
                data-target="#header-search" aria-expanded="false" aria-controls="header-search">
                <i class="ti-search"></i>
              </button>
              <div class="header-element-item header-cart dark-cart_icon">
                <div class="region region-header-cart">
                  <div id="block-martis-cart" class="norm-width block-title-1 block-title-left block block-commerce-cart">
                    <div class="container-wrap clearfix">
                      <div class="block-content clearfix">
                        <div class="cart--cart-block">
                          <div class="cart-block--summary">
                            <a class="cart-block--link__expand" href="/martis/en/cart">
                              <i class="ti-shopping-cart"></i>
                              <span class="cart-block--summary__count"> 1</span>
                            </a>
                          </div>
                          <div class="cart-block--contents">
                            <div class="cart-block--contents__inner">
                              <div class="cart-block--contents__items">
                                <div class="cart cart-block">
                                  <div class="views-element-container">
                                    <div class="js-view-dom-id-2877648bd34c6683fd60694b6d39912773e84bbec2e7937b2ff0b4be3ce844d9">
                                      <table class="cols-0">
                                        <tbody>
                                          <tr>
                                            <td class="views-field views-field-field-image"> <img
                                                src="./catalog/view/theme/default/image/bamm.png" width="100"
                                                height="100" alt="Bamm" typeof="foaf:Image" />
                                            </td>
                                            <td class="views-field views-field-title">Bamm - 7 US </td>
                                            <td class="views-field views-field-quantity">1&nbsp;× </td>
                                            <td class="views-field views-field-total-price__number">$59.95 </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="cart-block--contents__links cart-block-link">
                                <a href="/martis/en/cart">Cart</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>