{{ header }}

<div id="common-home" class="container-">
	<div class="row">
		{{ column_left }}
		{% if column_left and column_right %}
			{% set class = 'col-sm-6' %}
		{% elseif column_left or column_right %}
			{% set class = 'col-sm-9' %}
		{% else %}
			{% set class = 'col-sm-12' %}
		{% endif %}
		<div id="content" class="{{ class }}">
			{{ content_top }}

			<!-- Suppliment Plan -->
			<div class="suppliment-plan" style="margin-bottom: 70px;">
				<div class="container">
					<div class="_row">
						<div id="shopify-section-1536087454355" class="shopify-section product--section">
							<script src="./catalog/view/javascript/thirdparty/SupplementPlan.js?4351"></script>
							<link type="text/css" rel="stylesheet" href="./catalog/view/theme/default/stylesheet/thirdparty/SupplementPlan.css?4351">

							<div class="menulist--container">
								<div class="home-section--content menulist--blocks-count-1">
									<div class="row">
										<div class="col-lg-8 col-sm-12">
											<div id="fsp_container" class="row">
												<div id="-left" class="col-lg-8 col-sm-12">
													<div class="fsp_header">
														FREE SUPPLEMENT PLAN
													</div>
													<div class="fsp_title">
														FIND YOUR<br><b>FREE SUPPLEMENT PLAN</b>
													</div>
													<div class="fsp_text">
														It's simple, just tell us a little about yourself and your goals, and we'll create a supplement plan tailored just for you!
													</div>
												</div>
												<div
													id="right" class="col-lg-4 col-sm-12">
													<!-- Question #1 -->
													<div id="Slide1" style="height: 215px;">
														<div class="fsp_text gender">Gender</div>
														<div>
															<img id="Male" src="./catalog/view/theme/default/image/Male.png" no-repeat;="">
															<img id="Female" src="./catalog/view/theme/default/image/Female.png" no-repeat;="">
														</div>
													</div>

													<!-- Question #2 -->
													<div id="Slide2" style="height: 0px;">
														<div class="fsp_text age">Age</div>
														<div>
															<div class="male">
																<img id="Under21M" class="under21" src="./catalog/view/theme/default/image/under21M.png" no-repeat;="">
																<img id="Over21M" class="over21" src="./catalog/view/theme/default/image/over21M.png" no-repeat;="">
															</div>
															<div class="female">
																<img id="Under21F" class="under21" src="./catalog/view/theme/default/image/under21F.png" no-repeat;="">
																<img id="Over21F" class="over21" src="./catalog/view/theme/default/image/over21F.png" no-repeat;="">
															</div>
														</div>
													</div>

													<!-- Question #3 -->
													<div id="Slide3" style="height: 0px;">
														<div class="fsp_text goal">Goal</div>
														<div>
															<div class="male">
																<img id="FatLossM" class="fatLoss" src="./catalog/view/theme/default/image/FatLossM.png" no-repeat;="">
																<img id="MuscleBuildingM" class="muscleBuilding" src="./catalog/view/theme/default/image/MuscleBuildingM.png" no-repeat;="">
																<img id="PerformanceM" class="performance" src="./catalog/view/theme/default/image/performanceM.png" no-repeat;="">
															</div>
															<div class="female">
																<img id="FatLossF" class="fatLoss" src="./catalog/view/theme/default/image/FatLossF.png" no-repeat;="">
																<img id="MuscleBuildingF" class="muscleBuilding" src="./catalog/view/theme/default/image/MuscleBuildingF.png" no-repeat;="">
																<img id="PerformanceF" class="performance" src="./catalog/view/theme/default/image/performanceF.png" no-repeat;="">
															</div>
														</div>
													</div>
													<ul class="steps">
														<li id="step1" class="active"></li>
														<li id="step2" class=""></li>
														<li id="step3" class=""></li>
													</ul>
												</div>
											</div>
										</div>
										<div class="col-lg-4 col-sm-12">
											<section id="productFinder">
												<h3 class="home-section--title" style="margin-top: 20px !important; margin-bottom: 27px;">Product Finder</h3>
												<div class="form-field visible" style="width: 100%; margin-bottom: 10px;">
													<div class="form-field-select-wrapper">
														<select style="width: 100%;" name="prodfindbymanufac" onchange="DropDown_ShopBy_Category_onChange(this.value)" class="form-field-input form-field-select form-field-filled">
															<option selected="">Shop By Brand</option>
															<option selected="">Brand A</option>
															<option selected="">Brand B</option>
															<option selected="">Brand C</option>

														</select>
														<!-- <label class="form-field-title">Manufacturer</label> -->
														<!-- <svg aria-hidden="true" focusable="false" role="presentation" xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6">
																																																																																						<g fill="currentColor" fill-rule="evenodd">
																																																																																							<polygon class="icon-chevron-down-left" points="4 5.371 7.668 1.606 6.665 .629 4 3.365"></polygon>
																																																																																							<polygon class="icon-chevron-down-right" points="4 3.365 1.335 .629 1.335 .629 .332 1.606 4 5.371"></polygon>
																																																																																						</g>
																																																																																						</svg> -->
													</div>
												</div>
												<br>
												<div class="form-field visible" style="width: 100%; margin-bottom: 10px;">
													<div class="form-field-select-wrapper">
														<select style="width: 100%;" name="prodfindbymanufac" onchange="DropDown_ShopBy_Category_onChange(this.value)" class="form-field-input form-field-select form-field-filled">
															<option selected="">Shop By Category</option>
															<option>Shop A</option>
															<option>Shop B</option>
															<option>Shop C</option>
														</select>
														<!-- <label class="form-field-title">Manufacturer</label> -->
														<!-- <svg aria-hidden="true" focusable="false" role="presentation" xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6">
																																																																																							<g fill="currentColor" fill-rule="evenodd">
																																																																																							<polygon class="icon-chevron-down-left" points="4 5.371 7.668 1.606 6.665 .629 4 3.365"></polygon>
																																																																																							<polygon class="icon-chevron-down-right" points="4 3.365 1.335 .629 1.335 .629 .332 1.606 4 5.371"></polygon>
																																																																																							</g>
																																																																																						</svg> -->
													</div>
												</div>
												<br>
												<div class="form-field visible" style="width: 100%; margin-bottom: 10px;">
													<div class="form-field-select-wrapper">
														<select style="width: 100%;" name="prodfindbymanufac" onchange="DropDown_ShopBy_Category_onChange(this.value)" class="form-field-input form-field-select form-field-filled">
															<option selected="">Shop By Goals</option>
															<option selected="">Gold A</option>
															<option selected="">Gold B</option>
														</select>
														<!-- <label class="form-field-title">Manufacturer</label> -->
														<!-- <svg aria-hidden="true" focusable="false" role="presentation" xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6">
																																																																																							<g fill="currentColor" fill-rule="evenodd">
																																																																																							<polygon class="icon-chevron-down-left" points="4 5.371 7.668 1.606 6.665 .629 4 3.365"></polygon>
																																																																																							<polygon class="icon-chevron-down-right" points="4 3.365 1.335 .629 1.335 .629 .332 1.606 4 5.371"></polygon>
																																																																																							</g>
																																																																																						</svg> -->
													</div>
												</div>
												<br>
												<div class="form-field visible" style="width: 100%; margin-bottom: 10px;">
													<div class="form-field-select-wrapper">
														<select style="width: 100%;" name="prodfindbymanufac" onchange="DropDown_ShopBy_Category_onChange(this.value)" class="form-field-input form-field-select form-field-filled">
															<option selected="">Shop By Best Seller</option>
															<option selected="">Example A</option>
															<option selected="">Example B</option>
															<option selected="">Example C</option>
														</select>
														<!-- <label class="form-field-title">Manufacturer</label> -->
														<!-- <svg aria-hidden="true" focusable="false" role="presentation" xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6">
																																																																																							<g fill="currentColor" fill-rule="evenodd">
																																																																																							<polygon class="icon-chevron-down-left" points="4 5.371 7.668 1.606 6.665 .629 4 3.365"></polygon>
																																																																																							<polygon class="icon-chevron-down-right" points="4 3.365 1.335 .629 1.335 .629 .332 1.606 4 5.371"></polygon>
																																																																																							</g>
																																																																																						</svg> -->
													</div>
												</div>
												<br>
											</section>
										</div>
									</div>
								</div>
							</div>


							<script type="text/javascript">
								function DropDown_ShopBy_Category_onChange(arg_value) {
								if (arg_value !== "") {
								window.location.href = arg_value;
								}
								}
																	</script>
																</div>


																<script type="text/javascript">
																	function DropDown_ShopBy_Category_onChange(arg_value) {
								if (arg_value !== "") {
								window.location.href = arg_value;
								}
								}
						</script>
					</div>
				</div>
			</div>
			<!-- #End Suppliment Plan -->

			{{ content_bottom }}
		</div>
		{{ column_right }}
	</div>
</div>

<!-- Newsletter -->
<section id="content-wide" class="content-wide">
	<div class="simplenews-subscriptions-block-9712d147-2251-4cc0-b05f-944bbdb328c5 simplenews-subscriber-form colored-bg norm-width block-title-1 block-title-left block block-simplenews block-simplenews-subscription-block" data-drupal-selector="simplenews-subscriptions-block-9712d147-2251-4cc0-b05f-944bbdb328c5" id="block-newsletter-subscription">
		<div class="container-wrap clearfix">
			<div class="block-title-wrap clearfix">
				<div class="block-title-content">
					<h2 class="block-title">Sign up Newsletter</h2>
					<h5 class="block-subtitle">Don&#039;t miss out on great deals!</h5>
				</div>
			</div>

			<div class="block-content clearfix">
				<form action="#" method="post" id="simplenews-subscriptions-block-9712d147-2251-4cc0-b05f-944bbdb328c5" accept-charset="UTF-8">
					<div class="field--type-simplenews-subscription field--name-subscriptions field--widget-simplenews-subscription-select js-form-wrapper form-wrapper" data-drupal-selector="edit-subscriptions-wrapper" id="edit-subscriptions-wrapper"></div>
					<div id="edit-message" class="form-item js-form-item form-type-item js-form-type-item form-item-message js-form-item-message form-no-label">*
																	Stay informed - subscribe to our newsletter.
					</div>
					<input autocomplete="off" data-drupal-selector="form-j95dmm7glx8cr-tzjrvmzj-a0rkwsgmngidi-ky5fue" type="hidden" name="form_build_id" value="form-j95DMM7GLx8Cr_tzJrvMZJ-A0rkWSgMNGIdi-kY5fuE"/><input data-drupal-selector="edit-simplenews-subscriptions-block-9712d147-2251-4cc0-b05f-944bbdb328c5" type="hidden" name="form_id" value="simplenews_subscriptions_block_9712d147-2251-4cc0-b05f-944bbdb328c5"/><div class="field--type-email field--name-mail field--widget-email-default js-form-wrapper form-wrapper" data-drupal-selector="edit-mail-wrapper" id="edit-mail-wrapper">
						<div class="form-item js-form-item form-type-email js-form-type-email form-item-mail-0-value js-form-item-mail-0-value">
							<label for="edit-mail-0-value" class="control-label js-form-required form-required">Email</label>
							<input data-drupal-selector="edit-mail-0-value" aria-describedby="edit-mail-0-value--description" type="email" id="edit-mail-0-value" name="mail[0][value]" value="" size="60" maxlength="254" placeholder="" class="form-email required" required="required" aria-required="true"/>
							<div id="edit-mail-0-value--description" class="description help-block">
								The subscriber's email address.
							</div>
						</div>
					</div>
					<div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions">
						<input data-drupal-selector="edit-subscribe" type="submit" id="edit-subscribe" name="op" value="Subscribe" class="button js-form-submit form-submit"/>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
<!-- </div> -->
<!-- End content wide -->
{{ footer }}
